nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


nav h1 {
    color: black;
}

.logo-name {
    display: flex;
}

nav a {
    text-decoration: none;
}